body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

header {
    background: gold;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #328cc1;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 5px;
}

footer {
    background: #0b3c5d;
    color: white;
    text-align: center;
    padding: 10px;
}